<div>
    <h1>Chat real</h1>
    <div>{{messages}}</div>
    <ul id="messagesList">
        {{#messages}}
        <li>
            <h3>{{user}}</h3>
            <p>{{message}}</p>
        </li>
        {{/messages}}
    </ul>
    <form id="messageForm" method="POST" action="/chat">

    <label for="user">Email:</label>
    <input
      type="text"
      id="user"
      name="user"
      placeholder="ej@ej.com"
    />

    <label for="message">Mensaje:</label>
    <textarea
      id="message"
      name="message"
      placeholder="--"
    ></textarea>


    <button type="submit">Agregar</button>
  </form>
    

</div>