<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload</title>
</head>
<body>
  <h1>File Upload</h1>
  <form id="uploadForm" enctype="multipart/form-data">
    <label for="document">Seleccione un documento:</label>
    <input type="file" name="document" id="document" accept="image/*, application/pdf">
    <button type="button" onclick="uploadFile()">Subir Archivo</button>
  </form>
  <div id="response"></div>

  <script src="../..\public\js\upload.js"></script>
</body>
</html>